@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

    

body{
    margin:0;
    padding: 0;
    background: rgb(255, 255, 255);
    /* overflow: scroll; */
    /* background: linear-gradient(90deg, rgba(36,6,78,1) 0%, rgba(37,1,41,1) 50%, rgba(35,2,56,1) 100%); */
}
::-webkit-scrollbar { 
    display: none; 
}
img{
    width:100%;
}
a{
    text-decoration: none;
}
nav{
    padding:0.3rem 0;
    background-color: rgb(0, 0, 15);
     background-position: center;
     background-repeat: repeat-x;
    display:flex;
    justify-content: space-between;
    border-bottom:0.3rem solid orange;
}
.logo{
    padding-left:1rem;
    display:flex;
}
.logo-image{
    width:10%;
    height:4.5rem;
}
.logo-text{
    color:rgb(228, 227, 235);
    font-size: 2rem;
    font-weight: 700;
    
}
.typer{
    color:green;
}
.link-cont{
    display:flex;
    align-items: center;
    padding-right:1rem;
}
.link-ul{
    display: flex;
}
.link-ul li{
    margin-left:0.5rem;
    margin-right:0.4rem;
    list-style: none;
}
.link-ul li a{
    text-decoration: none;
    font-size: large;
    color:lime;
}
.link-ul li a:hover{
  color:white;
}
/* first content starts here */

.first-content{
    display:flex;
    height:95vh;
}
.left-content{
width:50%;
height:100vh;
padding:7.5rem;
padding-top:9rem;
}
.content-text{
    font-size: 3rem;
    font-weight: 500;
    color:rgb(59, 2, 40);
    font-family: 'Balsamiq Sans', cursive;
    margin:0;
/* font-family: 'Teko', sans-serif; */
}
.code-block{
    max-width: 25rem;
    height:6rem;
    margin-top:3rem;
    background-color: rgb(0, 0, 34);
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:1rem;
    display:flex;
    /* justify-content: center; */
    align-items: center;
}
.console-text{
    font-size: 1.4rem;
    font-weight: 800;
    color:rgb(206, 186, 7);
    /* text-align: center; */
    /* font-style:oblique; */
}

.right-content{
width:50%;
}
.coder-image{
    width:100%;
    height:100%;
    object-fit: contain;
    border:none;
}

.second-content{
    height:77vh;
    display:flex;
    background-color:#418e96;
    padding:3rem;
}
.second-left-content{
    width:50%;
}
.html-image{
    width:100%;
    height:100%;
    /* object-fit: contain; */
    object-fit: cover;
}
.second-right-content{
    width:60%;
    /* padding:1rem; */
}
.second-text{
    color:white;
    font-size: 2.7rem;
    font-weight: 500;
}
.section-cards{
    display:flex;
    /* flex-wrap: wrap; */
    
}

.card{
    width:45%;
    margin:0.3rem 0.3rem;
    box-shadow: 10px 5px 17px -10px rgb(41, 39, 41);
    font-family: sans-serif;
    background-color: #418e96;
    border-radius:1rem;
    overflow: hidden;
}

.card-header{
    padding:0 1rem;
}
.card-title{
    font-size: x-large;
    color:rgb(233, 233, 233);
}
.card-p{
    padding:0 1rem;
    font-size: large;
    color:rgb(244, 248, 24);
}

/* third section project section */

.third-content{
    height:90vh;
    background-color: #ffffff;
    overflow: hidden;
}
.project-container{
    width:100%;
    /* margin:0 auto; */
    padding:1rem;
}
.project-text{
    text-align: center;
    font-size:3rem;
    font-weight:700;
    color:#031e46;
}
.first-project{
    display:flex;
    justify-content: center;

}
.project-image{
    width:50%;
    /* height:30rem; */
}
.first-image-img{
    width:90%;
}

.first-project-desc{
    padding:3rem;
    width:40%;
}
.first-project-desc h3{
    font-size:3rem;
    color:green;
    font-weight: 500;
}
.first-project-desc p{
    font-size:1.5rem;
    color:rgb(2, 39, 88);
}
.first-project-btn{
    width:9.6rem;
    height:2.5rem;
    background-color: green;
    color:white;
    font-size: large;
    border:none;
    outline: none;
}
.first-project-btn a{
color:white;
}
.first-project-btn:hover{
    background-color: rgb(20, 201, 20);
    cursor:pointer;
}
.contact-me{
    background: rgb(38,69,73);
    background: linear-gradient(90deg, rgba(38,69,73,1) 0%, rgba(11,72,78,1) 50%, rgba(8,19,77,1) 100%);
/* padding:6rem; */
}
.contact-header{
    text-align: center;
    color:white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 3rem;;
}
.container {
    max-width:50rem;
    /* padding-right:1rem; */
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 0.5rem;
  }
  
 
  #contact {
    background: #cce6cc;
    padding: 2rem;
    margin: 5rem 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0.6rem;
  }
  
  #contact h4 {
    margin: 0.5rem 0 1rem;
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
 
  .copyright {
    text-align: center;
  }
  
 footer{
     height:10rem;
     background-color: black;

 }
 footer ul {
     margin-top:0;
     display:flex;
     height:100%;
     padding-top: 2rem;
     justify-content: space-evenly;
     align-items: center;
 }
 footer ul li {
     list-style: none;

 }
 footer ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color:yellow;
}
.footer-text h4{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color:white;
    margin-top:1rem;
}